body {
        font-family: 'Baloo Bhai', cursive;
        color: white;
        margin: 0px;
        padding: 0px;
        background-color: black;
        background-size: cover;
    }

.header{
    display:flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}

.left img {
        width: 145px;
        filter: invert(100%);
}

.left{
    margin: auto 60px;
    text-align: center;
}

.left:hover{
    cursor: pointer;
}

.right{
    margin: auto 60px;
}

    .navbar li {
        display: inline-block;
        font-size: 25px;
    }

    @media (max-width: 800px){
        .navbar{
            flex: 100%;
            flex-direction: column;
        }
    }

    .navbar li a {
        color: white;
        text-decoration: none;
        padding: 34px 23px;

    }

    .navbar li a:hover {
        text-decoration: underline;
        color: grey;

    }

    .btn {
        font-family: 'Baloo Bhai', cursive;
        margin: 9px 9px;
        background-color: black;
        color: white;
        padding: 4px 14px;
        border: 2px solid grey;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: white;
        color: black;
    }

.container {
        display: flex;
        flex-direction: column;
        text-align: justify;
        margin: 50px auto;
        width: 85%;
    }

.container p{
    font-size: 23px;
}

.container h1{
    text-decoration: underline;
}