body {
        font-family: 'Baloo Bhai', cursive;
        color: white;
        margin: 0px;
        padding: 0px;
        background-image: url('../assets/images/plans.jpg');
        background-size: cover;
    }

.header{
    display:flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}

.left img {
        width: 145px;
        filter: invert(100%);
}

.left{
    margin: auto 60px;
    text-align: center;
}

.left:hover{
    cursor: pointer;
}

.right{
    margin: auto 60px;
}

    .navbar li {
        display: inline-block;
        font-size: 25px;
    }

    @media (max-width: 800px){
        .navbar{
            flex: 100%;
            flex-direction: column;
        }
    }

    .navbar li a {
        color: white;
        text-decoration: none;
        padding: 34px 23px;

    }

    .navbar li a:hover {
        text-decoration: underline;
        color: grey;

    }

    .btn {
        font-family: 'Baloo Bhai', cursive;
        margin: 9px 9px;
        background-color: black;
        color: white;
        padding: 4px 14px;
        border: 2px solid grey;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: white;
        color: black;
    }

.container{
    display: flex;
}

.container div{
    background-color: black;
    border: 2px solid grey;
    border-radius: 28px;
    margin: 130px 40px 0px 40px;
    padding: 25px;
    text-align: center;
}

.amount{
    font-family: 'Baloo Bhai', cursive;
        text-align: center;
        width: 100%;
        padding: 1px;
        border: 2px solid black;
        margin: 7px;
        font-size: 25px;
        background-color: black;
        color: white;
}

.container div p{
    background-color: white;
    color: black;
}

.container div button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  }

.container div p{
    font-size: 20px;
}


.container div button{
    font-family: 'Baloo Bhai', cursive;
    margin: 9px 9px;
    background-color: black;
    color: white;
    padding: 4px 50px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

